.t-f-c-mart05427-container {
  min-height: 100vh;
}
.t-f-c-mart05427-t-f-c-mart05427 {
  width: 100%;
  height: 3699px;
  display: flex;
  position: relative;
  max-width: 1920px;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 1);
}
.t-f-c-mart05427-group31305868 {
  top: 16px;
  left: -2px;
  width: 1199px;
  height: 95px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.t-f-c-mart05427-image {
  top: 0px;
  left: 586px;
  width: 331px;
  cursor: pointer;
  height: 66px;
  margin: auto;
  position: absolute;
  transform: scale(0.5,0.8);
  box-sizing: border-box;
  margin-top: auto;
  object-fit: cover;
  margin-left: auto;
  border-color: transparent;
  margin-bottom: auto;
}
.t-f-c-mart05427-tfcmart {
  top: 6px;
  left: 0px;
  width: 238px;
  cursor: pointer;
  height: 53px;
  display: flex;
  position: absolute;
  transform: scale(0.5,0.8);;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.t-f-c-mart05427-text {
  top: 0px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  width: 275px;
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500px;
  line-height: 46px;
  font-stretch: normal;
  text-decoration: none;
}
.t-f-c-mart05427-svg {
  width: 74px;
  height: 47px;
  position: absolute;
}
.t-f-c-mart05427-text01 {
  top: 191px;
  left: 97px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 118px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Mitr;
  font-weight: 600px;
  line-height: 186px;
  font-stretch: normal;
  text-decoration: none;
}
.t-f-c-mart05427-text02 {
  font-style: normal;
  font-family: Montserrat;
  font-weight: 600px;
  text-decoration: none;
}
.t-f-c-mart05427-text04 {
  font-style: normal;
  font-family: Montserrat;
  font-weight: 600px;
  text-decoration: none;
}
.t-f-c-mart05427-image1 {
  top: 7px;
  right: 0px;
  width: 580px;
  height: 661px;
  position: absolute;
  object-fit: cover;
}
.t-f-c-mart05427-welcome {
  top: 768px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 977px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.t-f-c-mart05427-text05 {
  top: 419px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 55px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Montserrat;
  font-weight: 300px;
  line-height: 118px;
  font-stretch: normal;
  text-decoration: none;
}
.t-f-c-mart05427-group32205909 {
  top: 644px;
  left: 0px;
  right: 0px;
  width: 635px;
  cursor: pointer;
  height: 154px;
  margin: auto;
  display: flex;
  position: absolute;
  background: linear-gradient(90deg, #DA0037 0%, rgba(23, 23, 23, 0.0001) 193.56%);;
  box-sizing: border-box;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 53px;
}
.t-f-c-mart05427-group32205909:hover {
  background: blueviolet;
  transition: 0.5s all;
}
.t-f-c-mart05427-text06 {
  top: 44px;
  left: 0px;
  color: rgba(237, 237, 237, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 45px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400px;
  line-height: 67px;
  font-stretch: normal;
  text-decoration: none;
}
.t-f-c-mart05427-text07 {
  top: 0px;
  left: 0px;
  color: rgba(218, 0, 55, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 100px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Mitr;
  font-weight: 500px;
  line-height: 153px;
  font-stretch: normal;
  text-decoration: none;
}
.t-f-c-mart05427-text08 {
  color: rgba(218, 0, 55, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.t-f-c-mart05427-text11 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 600px;
  font-stretch: normal;
  text-decoration: none;
}
.t-f-c-mart05427-corporate-gift {
  top: 1861px;
  left: 0px;
  right: 0px;
  width: 1153px;
  height: 1308px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.t-f-c-mart05427-text12 {
  top: 148px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Mitr;
  font-weight: 500px;
  line-height: 122px;
  font-stretch: normal;
  text-decoration: none;
}
.t-f-c-mart05427-text13 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.t-f-c-mart05427-text15 {
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: 500px;
  text-decoration: none;
}
.t-f-c-mart05427-text18 {
  color: rgba(218, 0, 55, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.t-f-c-mart05427-fernpetal {
  top: 593px;
  left: 0px;
  right: 0px;
  width: 309px;
  cursor: pointer;
  height: 364px;
  margin: auto;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.t-f-c-mart05427-fernpetal:hover {
  filter: grayscale();
  transform: scale(1.1,1.1) rotate(5deg);
  transition: 0.6s all;;
}
.t-f-c-mart05427-image2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 249px;
  height: 257px;
  margin: auto;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  margin-bottom: auto;
}
.t-f-c-mart05427-text19 {
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500px;
  line-height: 41px;
  font-stretch: normal;
  text-decoration: none;
}
.t-f-c-mart05427-souveniers {
  top: 591px;
  left: 0px;
  width: 271px;
  cursor: pointer;
  height: 361px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.t-f-c-mart05427-souveniers:hover {
  filter: grayscale();
  transform: scale(1.1,1.1) rotate(5deg);
  transition: 0.6s all;;
}
.t-f-c-mart05427-image3 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 250px;
  height: 257px;
  margin: auto;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.t-f-c-mart05427-text20 {
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  width: 228px;
  bottom: -4px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500px;
  line-height: 41px;
  font-stretch: normal;
  text-decoration: none;
}
.t-f-c-mart05427-corporategifts {
  top: 594px;
  right: 0px;
  width: 279px;
  cursor: pointer;
  height: 366px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.t-f-c-mart05427-corporategifts:hover {
  filter: grayscale();
  transform: scale(1.1,1.1) rotate(5deg);;
  transition: 0.6s all;;
}
.t-f-c-mart05427-image4 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 247px;
  height: 257px;
  margin: auto;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.t-f-c-mart05427-text21 {
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  bottom: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 31px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500px;
  line-height: 41px;
  font-stretch: normal;
  text-decoration: none;
}
.t-f-c-mart05427-shopnow {
  left: 0px;
  right: 0px;
  width: 479px;
  bottom: 0px;
  cursor: pointer;
  height: 116px;
  margin: auto;
  display: flex;
  position: absolute;
  transform: scale(0.7,0.7);
  background: linear-gradient(90deg, #DA0037 0%, rgba(23, 23, 23, 0.0001) 193.56%);;
  box-sizing: border-box;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 1;
  border-radius: 53px;
}
.t-f-c-mart05427-shopnow:hover {
  background: darkgrey;
  transition: 0.5s all;
}
.t-f-c-mart05427-text22 {
  top: 22.99980926513672px;
  left: 0px;
  color: rgba(237, 237, 237, 1);
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 56px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600px;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.t-f-c-mart05427-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 459px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: #707070;
  border-style: dashed;
  border-width: 2px;
  justify-content: flex-start;
  background-color: #605f5f;
}
.t-f-c-mart05427-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.t-f-c-mart05427-container2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.t-f-c-mart05427-logo {
  width: 310px;
  height: 209px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.t-f-c-mart05427-image5 {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
}
.t-f-c-mart05427-text23 {
  width: 321px;
  height: 118px;
  font-size: 20px;
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.t-f-c-mart05427-text25 {
  color: #f9f7f7;
}
.t-f-c-mart05427-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.t-f-c-mart05427-container3 {
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}
.t-f-c-mart05427-product-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 10rem;
  flex-direction: column;
  justify-content: flex-start;
}
.t-f-c-mart05427-text26 {
  color: #fbf6f6;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.t-f-c-mart05427-text27 {
  color: #f9f4f4;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
}
.t-f-c-mart05427-text27:hover {
  cursor: pointer;
  text-decoration: underline;
}
.t-f-c-mart05427-text28 {
  color: #fff9f9;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-unit);
}

.t-f-c-mart05427-text29 {
  color: #fbfbfb;
  margin-bottom: var(--dl-space-space-unit);
}
.t-f-c-mart05427-text30 {
  color: #efe9e9;
}
.t-f-c-mart05427-text34 {
  color: #efe9e9;
}
.t-f-c-mart05427-company-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.t-f-c-mart05427-text37 {
  color: #fbfafa;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.t-f-c-mart05427-text38 {
  color: #f9f8f8;
  margin-bottom: var(--dl-space-space-unit);
}
.t-f-c-mart05427-text39 {
  color: #fff9f9;
  margin-bottom: var(--dl-space-space-unit);
}
.t-f-c-mart05427-text40 {
  color: #f1eaea;
  margin-bottom: var(--dl-space-space-unit);
}
.t-f-c-mart05427-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.t-f-c-mart05427-contact {
  width: 191px;
  height: 104px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.t-f-c-mart05427-text43 {
  color: #fbfafa;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.t-f-c-mart05427-text44 {
  color: #f5efef;
  width: var(--dl-size-size-medium);
  margin-bottom: var(--dl-space-space-unit);
}
.t-f-c-mart05427-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.t-f-c-mart05427-text48 {
  left: 0px;
  color: #f7f5f5;
  right: 0px;
  width: 442px;
  bottom: -56px;
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Mitr;
  font-weight: 500;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: #f3f2f2;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}
.t-f-c-mart05427-text49 {
  color: #121010;
}
.t-f-c-mart05427-text50 {
  color: #121010;
}
.t-f-c-mart05427-text53 {
  color: #121010;
}
.t-f-c-mart05427-text57 {
  text-align: center;
}
.t-f-c-mart05427-text58 {
  color: #fdfbfb;
}
.t-f-c-mart05427-image6 {
  right: 11px;
  bottom: 9px;
  height: 72px;
  position: absolute;
  align-self: flex-end;
  object-fit: cover;
}
@media(max-width: 991px) {
  .t-f-c-mart05427-footer {
    flex-direction: column;
  }
  .t-f-c-mart05427-container3 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .t-f-c-mart05427-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .t-f-c-mart05427-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .t-f-c-mart05427-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .t-f-c-mart05427-logo {
    align-items: center;
  }
  .t-f-c-mart05427-image5 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .t-f-c-mart05427-text23 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .t-f-c-mart05427-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .t-f-c-mart05427-container3 {
    margin-right: var(--dl-space-space-fourunits);
  }
  .t-f-c-mart05427-product-container {
    margin-right: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .t-f-c-mart05427-t-f-c-mart05427 {
    height: 4126px;
  }
  .t-f-c-mart05427-group31305868 {
    width: 100%;
  }
  .t-f-c-mart05427-image {
    top: 9px;
    left: 203px;
    width: 203px;
    height: 41px;
  }
  .t-f-c-mart05427-text01 {
    left: 0px;
    right: 0px;
    margin: auto;
    font-size: 50px;
    text-align: center;
    line-height: 56px;
  }
  .t-f-c-mart05427-image1 {
    top: 332px;
    right: 0px;
    width: 393px;
    height: 439px;
  }
  .t-f-c-mart05427-text05 {
    font-size: 35px;
  }
  .t-f-c-mart05427-group32205909 {
    top: 692px;
    left: 0px;
    width: 251px;
    height: 64px;
    margin: auto;
    border-radius: 53px;
    background-image: linear-gradient(90deg, #DA0037 0%, rgba(23, 23, 23, 0.0001) 193.56%);;
  }
  .t-f-c-mart05427-text06 {
    top: 0px;
    bottom: 0px;
    margin: auto;
    font-size: 25px;
  }
  .t-f-c-mart05427-text07 {
    font-size: 60px;
  }
  .t-f-c-mart05427-corporate-gift {
    width: 100%;
    height: 1961px;
  }
  .t-f-c-mart05427-text12 {
    top: -109px;
    left: 0px;
    right: 0px;
    margin: auto;
    font-size: 40px;
    line-height: 80px;
  }
  .t-f-c-mart05427-fernpetal {
    top: 1199px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .t-f-c-mart05427-souveniers {
    top: 258px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .t-f-c-mart05427-corporategifts {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
  }
  .t-f-c-mart05427-shopnow {
    left: 0px;
    width: 311px;
    bottom: 0px;
    height: 79px;
  }
  .t-f-c-mart05427-text22 {
    top: 0px;
    bottom: 0px;
    margin: auto;
    font-size: 36px;
  }
  .t-f-c-mart05427-footer {
    padding: var(--dl-space-space-unit);
  }
  .t-f-c-mart05427-container2 {
    align-items: center;
    flex-direction: column;
  }
  .t-f-c-mart05427-logo {
    height: 39px;
    position: relative;
    align-self: center;
  }
  .t-f-c-mart05427-image5 {
    left: -57px;
    width: 91px;
    bottom: -344px;
    height: 33px;
    position: absolute;
  }
  .t-f-c-mart05427-text23 {
    font-size: 0.1px;
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }

  .t-f-c-mart05427-links-container {
    align-items: center;
    flex-direction: column;
  }
  .t-f-c-mart05427-container3 {
    margin-right: 0px;
  }
  .t-f-c-mart05427-container4 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .t-f-c-mart05427-contact {
    align-self: flex-start;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .t-f-c-mart05427-text48 {
    text-align: center;
    transform:scale(0.7,0.7) translateX(-60px);
  }
  .t-f-c-mart05427-image6 {
    width: 203px;
    height: 48px;
  }
}
